<h1>Eat The Burger</h1>

<h2>Burgers that Are NOT Devoured!</h2>
<ul>

  {{#each burger}}
    {{#unless devour}}
      {{> burgers/burgers-block devour=false}}
    {{/unless}}
  {{/each}}
</ul>


<h2>Burgers that Are Devoured!</h2>
<ul>
  {{#each burger}}
    {{#if devour}}
      {{> burgers/burgers-block devour=true}}
    {{/if}}
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">Burger Name</label>
    <input type="input" id="bur" name="burger_name" value="0">
  </div>

  <button type="submit">Add Burger</button>
</form>
